.jumbotron {
  display: grid;
  place-items: center;
  margin: 20px;
  height: 60vh;
  background: transparent;
  animation-name: slideIn;
  animation-duration: 1.6s;
}

@keyframes slideIn {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}
